/* Estilo para el formulario de inicio de sesión */
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
}
.container-f {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #22395d;
    display: flex;
    justify-content: center;
    align-items:center;
}
.container-c {
    margin: 50px auto;
    width: 300px;
    padding-top: 20px;
    border-radius: 4px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #f2f2f2;
    text-align: center;
    
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
  }
  
  input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
  }

  input[type=checkbox] {
    font-size: 12px;
  }
  
  .secondary {
    width: 90%;
    background-color: #22395d;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button[type=submit] {
    width: 90%;
    background-color: #22395d;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .rb{
    background-color: #10395d;
  }
  
  .ce{
    font-size: 14px;
    color: #009CFF;
  }
  
  button[type=submit]:hover {
    background-color: #3D4E61;
  }
  
  a {
    text-decoration: none;
    color: #009CFF;
  }
  
  a:hover {
    text-decoration: underline;
  }
  